@charset "utf-8";
@font-face {
  font-family: "Pretendard-Regular";
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff")
    format("woff");
  font-weight: 400;
  font-style: normal;
}
html {
  overflow-x: hidden;
}
li {
  cursor: pointer;
}
* {
  user-select: none;
  font-family: "Pretendard-Regular";
  text-decoration: none;
  list-style: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@media all and (min-width: 1200px) {
  .header {
    padding-top: 90px;
    position: absolute;
    width: 66.66%;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: space-between;
    left: 0px;
    right: 0;
    margin: 0 auto;
  }
  .right_menu_mobile {
    display: none;
  }
  .gnb > ul {
    display: flex;
  }
  .gnb > ul > li {
    font-size: 17px;
    color: #fff;
    text-transform: uppercase;
    margin: 0 35px;
  }
  .right_menu {
    display: flex;
  }
  .right_menu > a {
    margin: 4px;
  }
  /************************** mv  ************************/
  .mv_1 {
    text-align: center;
    margin: 0 auto;
    background-image: url(../imgs/mvbg1.png);
    height: 730px;
    width: 100%;
    z-index: 100;
    background-size: cover;
    background-repeat: no-repeat;
  }
  .mv_1 > div:first-child {
    display: flex;
    width: 66.66%;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    margin: 0 auto;
    padding-top: 285px;
  }
  .mv_1 a {
    width: 58px;
    height: 58px;
    min-width: 58px;
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 50%;
    line-height: 60px;
    align-items: center;
  }
  .mv_1_con {
    color: #babec3;
  }
  .mv_1_con > div:first-child {
    font-size: 65px;
    text-transform: uppercase;
    font-weight: 700;
  }
  .mv_1_con > div:nth-child(2) {
    font-size: 28px;
    padding: 35px 0 32px;
  }
  .mv_1_con > div:nth-child(3) {
    font-size: 18px;
  }
  .learn_more {
    color: #babec3;
    width: 130px;
    height: 45px;
    border-radius: 25px;
    background-color: #0173cc;
    display: inline-block;
    margin-top: 44px;
    align-items: center;
    justify-content: center;
    line-height: 45px;
    font-size: 13px;
    padding-left: 4px;
  }
  .learn_more > img {
    margin-left: 4px;
  }
  /************************** mv2 ************************/
  .mv2_con_hidden {
    display: none;
  }

  .mv_2 {
    width: 100%;
  }
  .mv_2_wrap {
    padding-top: 100px;
    display: flex;
    width: 66.66%;
    margin: 0 auto;
    height: 590px;
  }
  .mv_2_text {
    flex-grow: 1;
    flex-basis: 300px;
    flex-shrink: 1;
    min-width: 210px;
    display: inline-block;
  }
  .mv_2_text > img {
    background-color: #2d2d2d;
    padding: 12px 16px;
  }
  .mv_2_img {
    justify-content: space-between;
    display: flex;
    flex-grow: 3;
    flex-shrink: 3;
    position: relative;
  }
  .short_line {
    width: 40px;
    background-color: black;
    height: 3px;
    margin-bottom: 40px;
  }
  .mv_2_text > div:nth-child(2) {
    font-size: 15px;
    color: #494949;
    margin-bottom: 50px;
    line-height: 25px;
  }
  .mv_2_text > div:nth-child(3) {
    font-size: 30px;
    margin-bottom: 65px;
    font-weight: 700;
  }
  .mv_2_text span {
    color: #494949;
  }
  .mv_2_img p {
    font-weight: 700;
    font-size: 18px;
    padding: 35px 0;
  }
  .mv_2_img > div {
    font-size: 15px;
  }
  .gray_line {
    top: 70%;
    width: 31%;
    height: 1px;
    background-color: rgba(0, 0, 0, 0.3);
    position: absolute;
  }
  /************************** mv3 ************************/
  .short_line2 {
    background-color: #544e4e;
    width: 32px;
    height: 3px;
    margin-bottom: 40px;
  }
  .mv_3 {
    text-align: center;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: #ececec;
  }
  .mv_3 > h2 {
    padding: 92px 0 24px;
    font-size: 36px;
  }
  .mv_3 > h2 > span {
    color: #007ddd;
  }
  .mv_3_text {
    display: flex;
    width: 66.66%;
    justify-content: space-around;
  }
  .mv_3_text > div {
    padding-left: 15px;
    min-width: 400px;
    align-items: center;
    font-size: 22px;
    font-weight: 700;
  }
  .mv_3_text > div > div > img:nth-child(2) {
    display: none;
  }
  .mv_3_text > div > ul {
    font-weight: 400;
    list-style: circle;
    font-size: 16px;
    padding-left: 95px;
    text-align: left;
  }

  .mv_3_text > div > ul > li {
    list-style-type: circle;
    margin-top: 7px;
  }
  .mv_3_text > div > div {
    display: flex;
    align-items: center;
  }
  .mv_3_text > div > div > span {
    margin-left: 20px;
  }
  .history {
    color: #2d2d2d;
    width: 165px;
    height: 43px;
    border-radius: 25px;
    border: 1px solid #2d2d2d;
    margin-top: 68px;
    align-items: center;
    justify-content: center;
    line-height: 43px;
    font-size: 14px;
    padding-left: 4px;
    margin-bottom: 80px;
  }
  .history > img {
    margin-left: 3px;
    filter: brightness(0.3);
  }
  /************************** mv4 ************************/
  .mv_4 {
    width: 100%;
    background-image: url(../imgs/con_3_b.png);
    background-repeat: no-repeat;
    background-size: cover;
  }
  .mv_4 > div:first-child {
    color: white;
    width: 66.66%;
    margin: 0 auto;
  }
  .mv_4 > div:first-child > h2 {
    font-size: 30px;
    font-weight: 700;
  }
  .mv_4 > div:first-child > div {
    font-size: 17px;
    font-weight: 100;
    padding: 85px 0 44px;
    display: flex;
    align-items: center;
  }
  .mv_4_img_wrap {
    display: flex;
    width: 66.66%;
    margin: 0 auto;
    padding: 60px 0 120px;
    box-sizing: border-box;
  }
  .mv_4_img_wrap > img {
    max-width: 625px;
  }
  .mv_4_img_wrap > img:not(img:last-child) {
    margin-right: 20px;
  }
  .white_line {
    background-color: white;
    width: 165px;
    height: 2px;
    margin-left: 40px;
  }
  /***********************footer  **************************/
  footer {
    width: 66.66%;
    margin: 0 auto;
  }
  .footer_wrap_logo {
    width: 200px;
  }
  .footer_wrap {
    display: flex;
    justify-content: space-between;
    padding: 60px 0 90px;
  }
  .footer_wrap > div:nth-child(2) {
    font-size: 16px;
    width: 980px;
    line-height: 22px;
    color: #6a6a6a;
    padding-left: 110px;
    min-width: 620px;
  }
  .logo_wrap {
    width: 100px;
    text-align: right;
    display: flex;
  }
  .logo_wrap img {
    width: 14px;
    height: 14px;
    opacity: 0.5;
  }
  .logo_wrap img:not(img:last-child) {
    margin-right: 16px;
  }
  .copy_right {
    width: 100%;
    text-align: center;
    border-top: solid 1px rgba(0, 0, 0, 0.5);
    margin: 0 auto;
    font-size: 16px;
    padding: 48px 0 100px;
  }
  .copy_right > span {
    color: #6a6a6a;
    text-transform: uppercase;
  }
}
@media all and (max-width: 1200px) {
  .header {
    padding-top: 90px;
    position: absolute;
    width: 81.25%;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: space-between;
    left: 0px;
    right: 0;
    margin: 0 auto;
  }
  .logo > img {
    width: 220px;
  }
  .gnb > ul {
    display: none;
  }

  .right_menu {
    display: none;
  }
  .right_menu > a {
    margin: 4px;
  }
  .right_menu_mobile > img:not(img:last-child) {
    margin-right: 32px;
  }
  /************************** mv  ************************/
  .mv_1 {
    text-align: center;
    margin: 0 auto;
    background-image: url(../imgs/mvbg1.png);
    height: 730px;
    width: 100%;
    z-index: 100;
    background-position: 70%;
    background-size: cover;
    background-repeat: no-repeat;
  }
  .mv_1 > div:first-child {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    margin: 0 auto;
    padding-top: 285px;
  }
  .mv_1 a {
    width: 98px;
    height: 98px;
    min-width: 98px;
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 50%;
    line-height: 100px;
    align-items: center;
  }
  .mv_1 a:first-child {
    margin-left: 38px;
  }
  .mv_1 a:last-child {
    margin-right: 38px;
  }
  .mv_1_con {
    color: #ececec;
  }
  .mv_1_con > div:first-child {
    font-size: 60px;
    text-transform: uppercase;
    font-weight: 700;
  }
  .mv_1_con > div:nth-child(2) {
    font-size: 28px;
    padding: 35px 0 32px;
    line-break: auto;
  }
  .mv_1_con > div:nth-child(3) {
    font-size: 18px;
    display: none;
  }
  .learn_more {
    color: #ececec;
    font-weight: 100;
    width: 210px;
    height: 60px;
    border-radius: 40px;
    background-color: #0173cc;
    display: inline-block;
    margin-top: 44px;
    align-items: center;
    justify-content: center;
    line-height: 60px;
    font-size: 21px;
    padding-left: 8px;
  }
  .learn_more > img {
    margin-left: 8px;
    width: 7px;
  }
  /************************** mv2 ************************/
  .mv_2 {
    width: 100%;
  }
  .mv_2_wrap {
    padding-top: 100px;
    display: flex;
    justify-content: space-between;
    width: 81.25%;
    margin: 0 auto;
    height: 590px;
  }
  .mv_2_text {
    flex-shrink: 1;
    flex-grow: 3;
    flex-basis: 300px;
    min-width: 210px;
    display: inline-block;
  }
  .mv_2_text > img {
    background-color: #2d2d2d;
    padding: 16px 20px;
  }
  .mv_2_img {
    display: flex;
    flex-direction: row;
    justify-content: right;
    position: relative;
    flex-shrink: 1;
    flex-grow: 1;
  }
  .mv_2_img > div {
    margin-left: 2rem;
  }
  .mv_2_img > div:last-child {
    display: none;
  }
  .short_line {
    width: 40px;
    background-color: black;
    height: 3px;
    margin-bottom: 40px;
  }
  .mv_2_text > div:nth-child(2) {
    font-size: 20px;
    color: #494949;
    margin-bottom: 50px;
    line-height: 25px;
    max-width: 180px;
  }
  .mv_2_text > div:nth-child(3) {
    font-size: 35px;
    margin-bottom: 65px;
    font-weight: 700;
  }
  .mv_2_text span {
    color: #494949;
  }
  .mv_2_img p {
    font-weight: 700;
    font-size: 25px;
    padding: 35px 0;
  }
  .mv_2_img > div {
    font-size: 20px;
  }
  .gray_line {
    top: 70%;
    width: 305px;
    height: 1px;
    background-color: rgba(0, 0, 0, 0.3);
    position: absolute;
  }
  /************************** mv3 ************************/
  .short_line2 {
    background-color: #544e4e;
    width: 32px;
    height: 3px;
    margin-bottom: 40px;
  }
  .mv_3 {
    text-align: center;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: #ececec;
  }
  .mv_3 > h2 {
    padding: 92px 0 24px;
    font-size: 40px;
  }
  .mv_3 > h2 > span {
    color: #007ddd;
  }
  .mv_3_text {
    display: flex;
    flex-direction: column;
    width: 81.25%;
    align-items: center;
    justify-content: center;
  }
  .mv_3_text > div:last-child {
    display: none;
  }
  .mv_3_text > div > div {
    position: relative;
  }
  .mv_3_text > div > div > img:first-child {
    display: none;
  }
  .mv_3_text > div > div > img:nth-child(2) {
    position: absolute;
    top: 10%;
  }
  .mv_3_text > div {
    align-items: center;
    font-size: 22px;
    font-weight: 700;
    min-width: 455px;
  }
  .mv_3_text > div:first-child {
    margin-bottom: 56px;
  }
  .mv_3_text > div > div > span {
    font-size: 28px;
    padding-left: 135px;
    margin-bottom: 10px;
  }
  .mv_3_text > div > ul {
    font-weight: 400;
    list-style: circle;
    font-size: 20px;
    padding-left: 170px;
    text-align: left;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }
  .mv_3_text > div > ul > li::before {
    position: absolute;
    content: "";
    background-color: #6a6a6a;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    margin: auto 0;
    top: 0;
    bottom: 0;
    left: -15px;
  }
  .mv_3_text > div > ul > li {
    position: relative;
    list-style-type: circle;
    margin-top: 7px;
    display: inline-block;
    text-align: right;
    width: fit-content;
  }
  .mv_3_text > div > div {
    display: flex;
    align-items: center;
  }
  .mv_3_text > div > div > span {
    margin-left: 20px;
  }
  .history {
    color: #2d2d2d;
    width: 235px;
    height: 65px;
    border-radius: 45px;
    border: 1px solid #2d2d2d;
    margin-top: 68px;
    align-items: center;
    justify-content: center;
    line-height: 65px;
    font-size: 20px;
    padding-left: 4px;
    margin-bottom: 80px;
  }
  .history > img {
    margin-left: 3px;
    filter: brightness(0.3);
  }
  /************************** mv4 ************************/
  .mv_4 {
    width: 100%;
    background-image: url(../imgs/con_3_b.png);
    background-repeat: no-repeat;
    background-size: cover;
  }
  .mv_4 > div:first-child {
    color: white;
    width: 81.25%;
    margin: 0 auto;
  }
  .mv_4 > div:first-child > h2 {
    font-size: 30px;
    font-weight: 700;
  }
  .mv_4 > div:first-child > div {
    font-size: 17px;
    font-weight: 100;
    padding: 85px 0 44px;
    display: flex;
    align-items: center;
  }
  .mv_4_img_wrap {
    display: flex;
    flex-direction: row;
    width: 81.25%;
    margin: 0 auto;
    padding: 60px 0 0px;
    box-sizing: border-box;
    align-items: center;
  }
  .mv_4_img_wrap > img {
    max-width: 425px;
  }
  .mv_4_img_wrap > img:last-child {
    display: block;
  }
  .mv_4_img_wrap > img:not(img:last-child) {
    margin-right: 20px;
  }
  .white_line {
    background-color: white;
    width: 165px;
    height: 2px;
    margin-left: 40px;
  }
  .circle {
    display: flex;
    justify-content: center;
  }
  .circle > div {
    background-color: white;
    width: 22px;
    height: 22px;
    margin: 30px 5px 45px;
    border-radius: 50%;
  }
  .circle > div:first-child {
    background-color: #007ddd;
  }
  /***********************footer  **************************/
  footer {
    width: 81.25%;
    margin: 0 auto;
    position: relative;
  }
  .footer_wrap_logo {
    width: 200px;
  }
  .footer_wrap {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    padding-top: 60px;
  }
  .footer_wrap > div:nth-child(2) {
    display: none;
  }
  .logo_wrap {
    width: 100px;
    display: flex;
    position: absolute;
    bottom: -50px;
    margin: 0 auto;
    left: 0;
    right: 0;
    transform: translateX(-16px);
  }
  .logo_wrap img {
    width: 26px;
    height: 26px;
    opacity: 0.5;
  }
  .logo_wrap img:not(img:last-child) {
    margin-right: 18px;
  }
  .copy_right {
    width: 100%;
    text-align: center;
    border-bottom: solid 1px rgba(0, 0, 0, 0.5);
    z-index: 100;
    margin: 0 auto;
    font-size: 16px;
    padding: 20px 0 40px;
    margin-bottom: 100px;
  }
  .copy_right > span {
    color: #6a6a6a;
    text-transform: uppercase;
  }
}
@media all and (max-width: 770px) {
  .header {
    width: 91.66%;
  }
  .logo > img {
    width: 160px;
  }
  .right_menu_mobile img {
    width: 20px;
  }

  /************************** mv  ************************/

  .mv_1_con {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    margin: 0 auto;
    align-items: center;
    position: relative;
    left: 0;
    right: 0;
  }
  .mv_1 a {
    display: none;
  }
  .mv_1_con > div:first-child {
    font-size: 36px;
    text-transform: uppercase;
    font-weight: 700;
  }
  .mv_1_con > div:nth-child(2) {
    font-size: 24px;
    padding: 35px 0 32px;
    line-break: auto;
  }
  .mv_1_con > div:nth-child(3) {
    font-size: 18px;
    display: none;
  }
  .learn_more {
    color: #ececec;
    width: 160px;
    height: 50px;
    line-height: 50px;
    font-size: 18px;
  }

  /************************** mv2 ************************/
  .mv_2 {
    width: 91.66%;
  }
  .mv_2_wrap {
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 91.25%;
    margin: 0 auto;
    height: 590px;
  }
  .mv_2_text {
    display: flex;
    flex-direction: column;
    flex-basis: 0px;
    min-width: 0px;
  }
  .mv_2_text > div:nth-of-type(2) {
    margin: 0;
  }
  .mv_2_text > img {
    display: none;
  }

  .mv_2_img > div {
    margin-left: 2rem;
  }
  .mv_2_img img {
    left: 15px;
    right: 15px;
    position: relative;
  }
  .mv_2_img > div:not(.mv_2_img > div:first-child) {
    display: none;
  }
  .short_line {
    margin-bottom: 30px;
  }
  .mv_2_text > div:nth-child(2) {
    display: none;
  }
  .mv_2_text > div:nth-child(3) {
    font-size: 48px;
    margin-bottom: 14px;
  }

  .mv_2_img p {
    display: none;
  }
  .mv_2_img > div {
    font-size: 20px;
  }
  .mv_2_img > div > div {
    position: relative;
    left: 15px;
  }
  .gray_line {
    display: none;
  }
  /************************** mv3 ************************/
  .short_line2 {
    margin-bottom: 20px;
  }

  .mv_3_text {
    display: flex;
    flex-direction: column;
    width: 91.66%;
    align-items: center;
    justify-content: center;
    position: relative;
    left: 0;
    right: 0;
  }
  .mv_3_text > div:last-child {
    display: none;
  }
  .mv_3_text > div > div {
    position: relative;
  }
  .mv_3_text > div > div > img {
    display: none;
  }

  .mv_3_text > div {
    align-items: center;
    font-size: 22px;
    font-weight: 700;
    min-width: 330px;
    margin: 0 auto;
    left: 0;
    right: 0;
    text-align: center;
  }
  .mv_3_text > div:first-child {
    margin-bottom: 30px;
  }
  .mv_3_text > div > div > span {
    font-size: 28px;
    padding: 0px;
    position: relative;
    margin: 0 0 10px;
  }
  .mv_3_text > div > ul {
    font-weight: 400;
    list-style: circle;
    font-size: 20px;
    padding-left: 0px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-between;
    flex-direction: column;
  }
  .mv_3_text > div > ul > li::before {
    display: none;
  }
  .mv_3_text > div > ul > li {
    position: relative;
    list-style-type: circle;
    margin-top: 7px;
    display: inline-block;
    text-align: right;
    width: fit-content;
  }
  .mv_3_text > div > div {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  .mv_3_text > div > div > span {
    margin-left: 0px;
  }
  .history {
    color: #2d2d2d;
    width: 200px;
    height: 55px;
    border-radius: 45px;
    border: 1px solid #2d2d2d;
    margin-top: 48px;
    align-items: center;
    justify-content: center;
    line-height: 55px;
    font-size: 18px;
    padding-left: 4px;
    margin-bottom: 50px;
  }
  .history > img {
    margin-left: 3px;
    filter: brightness(0.3);
  }
  /************************** mv4 ************************/
  .mv_4 {
    width: 100%;
    background-image: url(../imgs/con_3_b.png);
    background-repeat: no-repeat;
    background-size: cover;
  }
  .mv_4 > div:first-child {
    color: white;
    width: 81.25%;
    margin: 0 auto;
  }
  .mv_4 > div:first-child > h2 {
    font-size: 26px;
    font-weight: 700;
  }
  .mv_4 > div:first-child > div {
    font-size: 15px;
    font-weight: 100;
    padding: 85px 0 44px;
    display: flex;
    align-items: center;
  }
  .mv_4_img_wrap {
    display: flex;
    flex-direction: column;

    margin: 0 auto;
    padding: 30px 0 0px;
    box-sizing: border-box;
    align-items: center;
    left: 0;
    right: 0;
    position: relative;
  }
  .mv_4_img_wrap > img {
    width: 340px;
    margin-left: 15px;
  }
  .mv_4_img_wrap > img:last-child {
    display: none;
  }
  .mv_4_img_wrap > img:not(img:last-child) {
    margin-right: 20px;
  }
  .white_line {
    width: 145px;
  }
  .circle {
    display: flex;
    justify-content: center;
  }
  .circle > div {
    background-color: white;
    width: 22px;
    height: 22px;
    margin: 30px 5px 25px;
    border-radius: 50%;
  }
  .circle > div:first-child {
    background-color: #007ddd;
  }
  /***********************footer  **************************/
  footer {
    width: 91.66%;
    margin: 0 auto;
    position: relative;
  }
  .footer_wrap_logo {
    width: 200px;
  }
  .footer_wrap {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    padding-top: 60px;
  }
  .footer_wrap > div:nth-child(2) {
    display: none;
  }
  .logo_wrap {
    width: 100px;
    display: flex;
    position: absolute;
    bottom: -50px;
    margin: 0 auto;
    left: 0;
    right: 0;
    transform: translateX(-16px);
  }
  .logo_wrap img {
    width: 26px;
    height: 26px;
    opacity: 0.5;
  }
  .logo_wrap img:not(img:last-child) {
    margin-right: 18px;
  }
  .copy_right {
    width: 100%;
    text-align: center;
    border-bottom: solid 1px rgba(0, 0, 0, 0.5);
    z-index: 100;
    margin: 0 auto;
    font-size: 16px;
    padding: 20px 0 40px;
    margin-bottom: 100px;
  }
  .copy_right > span {
    color: #6a6a6a;
    text-transform: uppercase;
  }
}
